.Rproj.user
.Rhistory
.RData
.Ruserdata
TogiakShiny.csv
MarchSight.csv
All_WIn_Bndry_Edge_Del_New_IDs.dbf
All_WIn_Bndry_Edge_Del_New_IDs.prj
All_WIn_Bndry_Edge_Del_New_IDs.shp
All_WIn_Bndry_Edge_Del_New_IDs.shx
Krigmap.png



